<div class="about-container">
	<navi></navi>
	<div id="who-we-are-container">
		<img src="../images/hello-image.png" id="hello-image"/>
		<div class="wk-content">
			<div class="welcome-text" id="top">
				<h4 id="who-we-are">WE ARE
					<div id="rotate">
		        			<div class="bold">creative<br>problem<br>solvers</div>
		        			<div class="bold top-padding">brand<br>gurus</div>
		        			<div class="bold top-padding">motion<br>mavens</div>
		        			<div class="bold top-padding">style<br>forecasters</div>
		        			<div class="bold top-padding">packaging<br>enthusiasts</div>
					</div>
				</h4>
				<hr style="color:white">
			</div>

			<div class="welcome-text" id="bottom">
				<div>
					<p>
						<h4 id="blurb">
							AT CMYK, we<br>
							design to<br>
							transform,<br>
							motivate,<br>
							delight and<br>
							provoke.
						</h4>
					</p>
				</div>
			</div>

			<div id="scroll">
				SCROLL
			</div>
			<div id="more">
				<svg height="20" width="30">
				  <polyline points="5,10,15,20,25,10" style="fill:none;stroke:white;stroke-width:1" />
				  Sorry, your browser does not support inline SVG.
				</svg>
			</div>
		</div>
	</div>
</div>

<div>
	<div>
		<img src="../images/CMYKplusW_640.gif">
	</div>
</div>
<footer></footer>
