<div class="about-container">
	<navi></navi>
	<div id="who-we-are-container">
		<img src="../images/hello-image.gif" id="hello-image"/>
		<div class="wk-content">
			<div class="welcome-text" id="top">
				<h4 id="who-we-are">WE ARE
					<div id="rotate">
		        			<div class="bold">creative<br>problem<br>solvers</div>
		        			<div class="bold top-padding">brand<br>gurus</div>
		        			<div class="bold top-padding">motion<br>mavens</div>
		        			<div class="bold top-padding">style<br>forecasters</div>
		        			<div class="bold top-padding">packaging<br>enthusiasts</div>
					</div>
				</h4>
				<hr style="color:white">
			</div>

			<div class="welcome-text" id="bottom">
				<div>
					<p>
						<h4 id="blurb">
							AT CMYK, we<br>
							design to<br>
							transform,<br>
							motivate,<br>
							delight and<br>
							provoke.
						</h4>
					</p>
				</div>
			</div>

			<div id="scroll">
				SCROLL
			</div>
			<div id="more">
				<svg height="20" width="30">
				  <polyline points="5,5,15,15,25,5" style="fill:none;stroke:white;stroke-width:1" />
				  Sorry, your browser does not support inline SVG.
				</svg>
			</div>
		</div>
	</div>
</div>

<div id="mobile-team">
	<div>
		<p class="menu-font contact-title" style="margin-left: 10px; margin-top:35px;"> OUR TEAM</p>
		<img src="../images/CMYKplusW_640.gif">
	</div>
</div>


<div id="desktop-team">
	<div>
		<p class="menu-font contact-title" style="margin-left: 10px; margin-top:20px;"> OUR TEAM</p>
		<img id="group-pic" src="../images/group-photo.png">
	</div>
	<div class="name-container">
		<div>
			<p class="name-tag" id="allison">allison</p>
			<p class="name-tag" id="bomee">bomee</p>
			<p class="name-tag" id="bradley">bradley</p>
		</div>
		<div>
			<p class="name-tag" id="chris">chris</p>
			<p class="name-tag" id="christine">christine</p>
			<p class="name-tag" id="eunsun">eunsun</p>
		</div>
		<div>
			<p class="name-tag" id="gino">gino</p>
			<p class="name-tag" id="katerina">katerina</p>
			<p class="name-tag" id="nak">nak</p>
		</div>
		<div>
			<p class="name-tag" id="natalia">natalia</p>
			<p class="name-tag" id="paula">paula</p>
			<p class="name-tag" id="robin">robin</p>
		</div>
		<div>
			<p class="name-tag" id="sanders">sanders</p>
			<p class="name-tag" id="sean">sean</p>
			<p class="name-tag" id="yongsin">yongsin</p>
		</div>
	</div>
</div>

<footer></footer>
