<div id="logo-container">
	<p class="slide_up">
		<a id="logo" href="/">
			<!-- CMYK+WHITE -->
			<img src="./images/cmyk_landing_logo.png" alt="CMYK+WHITE" class="landing_logo">

		</a>
	</p>
</div>

<nav>
	<ul id="nav" class="flex-container">
		<li>
      <a href="/about">
        Who We Are
      </a>
    </li>

		<li>
      <div class="openner">
        What We Do
        <img class="down_arrow" src="/images/down_arrow.png" alt="Drop Down Arrow">
      </div>

      <ul class="brand_dd">
				<li>
					<div id="brand-logo-container">
						<p id="logo" class="slide_up">
							<img src="./images/cmyk_landing_logo.png" alt="CMYK+WHITE" class="landing_logo">
						</p>
					</div>
				</li>

				<li class="brand_names" ng-repeat="brand in brands">
          <a ng-href="/brand/{{brand.class}}" ng-click="pickBrand(brand.name.toLowerCase() + '')">
            {{ brand.name }}
          </a>
        </li>

				<li class="brand_names">
					<a href="/work">
						Back to All Brands
					</a>
				</li>

				<li>
					<img src="/images/up_arrow.png" class="up_arrow slide_up" alt="">
				</li>
      </ul>
    </li>

		<li>
      <a href="https://www.designplusshop.com/">
        Design + Shop
      </a>
    </li>

		<li>
      <a href="/contact">
        Contact Us
      </a>
    </li>
	</ul>
</nav>
