<navi></navi>
<img src="../images/team_bw_laugh.png" />
<div class="job-container">
	<p class="job-title">Entry Level Graphic Desinger / Full Time</p>
	<div class="job-requirements">
		<p>
			Requirements:<br/>
			0-2yrs experience + Bachelor's degree<br/>
			A gret eye for color, typography and layout<br/>
			Strong software knowledge of Adobe Creative Suite,<br/>
			Powerpoint and Keynote<br/>
			Poractive problem-solver/critical thinker<br/>
			Extremely detail-oriented and organized,<br/>
			works quickly and effectively under time constarints<br/>
			Able to maintain ownership and develop a design<br/>
			project from concept through final execution<br/>
			<br/>
			Please send your resume along with (a link to) your portfolio to
			careers@cmykpluswhite.com<br/>
		</p>
	</div>

	<hr id="job-divider">

	<p class="job-title">Motion Graphic Desinger / Full Time</p>
	<div class="job-requirements">
		<p>
			Requirements:<br/>
			0-2yrs experience + Bachelor's degree<br/>
			A gret eye for color, typography and layout<br/>
			Strong software knowledge of Adobe Creative Suite,<br/>
			Powerpoint and Keynote<br/>
			Poractive problem-solver/critical thinker<br/>
			Extremely detail-oriented and organized,<br/>
			works quickly and effectively under time constarints<br/>
			Able to maintain ownership and develop a design<br/>
			project from concept through final execution<br/>
			<br/>
			Please send your resume along with (a link to) your portfolio to
			careers@cmykpluswhite.com<br/>
		</p>
	</div>

</div>
<fooder></fooder>            