<navi></navi>
<p>| CONTACT US</p>
<div class="contact">
	<div class="left">
		49 W 38th St. 4th Floor <br>
		New York NY, 10018
	</div>
	<div class="right">
		T 212.302.1460<br>
		F 212.302.1497
	</div>
</div>

<div class="contact-form">
	<form>
		<input type="text" placeholder="Name" name="name" > <br>
		<input type="email" placeholder="Email" name="email"> <br>
		<input type="text" placeholder="Telephone" name="telephone"> <br>
		<textarea>
			Message
		</textarea> <br>
		<input type="submit" name="SUBMIT">
	</form>
</div>
<fooder></fooder>              