<nav class="welcome-text">
	<ul id="footer" class="flex-container">
		<li id="copyright" style="flex-grow: 2; text-align: left;"><a href="/" style="color:#9B9B9B;">COPYRIGHT 2017 CMYK+WHITE. ALL RIGHTS RESERVED.</a></li>
		<li id="career-link" style="flex-grow: 1;"><a href="career" style="color:#9B9B9B;">CAREERS</a></li>
		<a href="https://www.instagram.com/designplusshop/" style="flex-grow: 1;">
			<li class="ig-icon" style="flex-grow: 1; color:#9B9B9B; list-style: none; margin-top: 10px;">
				<img src="../images/instagram-icon.png" alt="Instagram Icon" />
			</li>
		</a>
	</ul>
</nav>
