<!-- <nav class="welcome-text">
	<ul id="footer" class="flex-container">
		<li id="copyright" style="flex-grow: 2; text-align: left;"><a href="/" style="color:#9B9B9B;">COPYRIGHT 2017 CMYK+WHITE. ALL RIGHTS RESERVED.</a></li>
		<li id="career-link" style="flex-grow: 1;"><a href="career" style="color:#9B9B9B; font-size: 12px;">CAREERS</a></li>
		<a href="https://www.instagram.com/designplusshop/" style="flex-grow: 1;">
			<li class="ig-icon" style="flex-grow: 1; color:#9B9B9B; list-style: none; margin-top: 10px;">
				<img src="../images/instagram-icon.png" alt="Instagram Icon" />
			</li>
		</a>
	</ul>
</nav>
 -->
<div style="width: 100%; background-color: white;">
	<nav class="welcome-text">
		<ul class="flex-container" style="align-items: center; margin-top: 0px; height: 60px; align-items: center;" >
			<li style="flex-grow: 2; text-align: left; padding: 0px; font-size: 8px; list-style: none; padding-top: 1px;">
				<a href="/" style="color:#9B9B9B;">COPYRIGHT 2017 CMYK+WHITE. ALL RIGHTS RESERVED.</a>
			</li>
			
			<li style="flex-grow: 1; padding: 0px; list-style: none; display: flex; justify-content: flex-end;">
				<a href="career" style="color:#9B9B9B; font-size: 12px; margin-right: 5px; display: inline-block;">CAREERS</a>
			</li>
			
			<a href="https://www.instagram.com/designplusshop/" style="flex-grow: 1;">
				<li class="ig-icon" style="flex-grow: 1; color:#9B9B9B; list-style: none;">
					<img src="../images/instagram-icon.png" alt="Instagram Icon" />
				</li>
			</a>
		</ul>
	</nav>
</div>