<div landing class="container">
  <div class="search_n_find">
    <div class='pre'>
      <div>A M K P R <span class='tablet'>W H V </span> <span class='search_brand'>B R A N D</span><span class='tablet'> H</span></div>
      <div>G E J V B <span class='tablet'>S A U X </span> W S M P Z</div>
      <div>Z <span class='search_create search_c mobile'>C</span> O <span class='search_unique'>U N I Q U E</span> C <span class='tablet'> G F J Z K</span></div>
      <div>Y <span class='search_create mobile'>R</span> <span class='tablet'>X S U W H </span>F B W T R J M <span class='search_passion'>P</span></div>
      <div>N <span class='search_create'><span class='mobile'>E</span><span class='search_c tablet'>C</span></span> <span class='tablet'>N G A C Z D S L </span>R T <span class='search_make mobile'><span class='search_m'>M</span> A K E</span> U <span class='search_passion'>A</span></div>
      <div>E <span class='search_create'><span class='mobile'>A</span><span class='tablet'>R</span></span><span class='tablet'> G J Q A <span class='search_make'><span class='search_m'>M</span> A K E</span></span> <span class='mobile'>G J Q A</span> H J Y <span class="search_passion">S</span></div>
      <div><span class='tablet'>Q <span class='search_create'>E</span> B P S F Z L G S</span><span class='search_style mobile'>S</span> <span class='search_create mobile'>T</span> <span class='search_style mobile'><span class='search_y'>Y</span> L E</span> K P <span class='search_design mobile'>D</span> M <span class="search_passion">S</span></div>
      <div>C <span class='search_create'><span class='mobile'>E</span><span class='tablet'>A</span></span> <span class="tablet">V C X R</span> U Z F E J <span class='search_design'><span class="mobile">E</span><span class="tablet">D</span></span> A <span class='search_passion'>I</span></div>
      <div><span class="mobile">V</span><span class='search_style tablet'> S</span><span class='search_create tablet'> T </span><span class='search_style tablet'><span class='search_y'> Y</span> L E</span> Z G B N U F <span class='search_design'><span class="mobile">S</span><span class='tablet'>E</span></span> X <span class='search_passion'>O</span></div>
      <div>M <span class='search_think mobile'>T H I N <span class='search_k'>K</span></span> <span class="tablet"><span class="search_create">E</span> Q D O Y H Z M K </span> N <span class='search_design'><span class='mobile'>I</span><span class='tablet'>S</span></span> T <span class='search_passion'>N</span></div>
      <div>N V F B <span class='search_think tablet'>T H I N <span class='search_k'>K</span></span> H K <span class='mobile'> C </span><span class='search_design'><span class='mobile'>G</span><span class='tablet'>I</span></span> L E</div>
      <div class='marginator tablet'>R N Y F C M J R W D S <span class='search_design'>G</span> N V</div>
      <div><span class='tablet'>C P Q A </span><span class='search_solution'>S O L U T I O</span> <span class='search_design'>N</span> B W</div>
    </div>
  </div>

  <div class="scroll">
    <p>
      Scroll
    </p>

    <img src="../images/down_arrow_gray.png" alt="">
  </div>
</div>

<div class="landing_nav">
  <img src="../images/cmyk_landing_logo.png" alt="CMYK+WHITE" class="landing_logo">

  <ul class="landing_ul">
    <li>
      <a href="about">
        Who We Are
      </a>
    </li>

    <hr>

    <li>
      <a href="work">
        What We Do
      </a>
    </li>

    <hr>

    <li>
      <a href="https://www.designplusshop.com/" target="_blank">
        Design + Shop
      </a>
    </li>

    <hr>

    <li>
      <a href="contact">
        Contact
      </a>
    </li>
  </ul>
<footer></footer>
</div>
