<div class="container">
    <div class="search_n_find">
        <div class="pre">
          <div>A M K P R <span class="search_brand">B R A N D</span></div>
          <div>G E J V B W S M P Z</div>
          <div>Z <span class="search_create search_c">C</span> O <span class="search_unique">U N I Q U E</span> C</div>
          <div>Y <span class="search_create">R</span> F B W T R J P <span class="search_passion">P</span></div>
          <div>N <span class="search_create">E</span> R T <span class="search_make"><span class="search_m">M</span> A K E</span> U <span class="search_passion">A</span></div>
          <div>E <span class="search_create">A</span> G J Q A H J Y <span class="search_passion">S</span></div>
          <div><span class="search_style">S</span> <span class="search_create">T</span> <span class="search_style"><span class="search_y">Y</span> L E</span> K P <span class="search_design">D</span> M <span class="search_passion">S</span></div>
          <div>C <span class="search_create">E</span> U Z F E J <span class="search_design">E</span> A <span class="search_passion">I</span></div>
          <div>V Z G B N U F <span class="search_design">S</span> X <span class="search_passion">O</span></div>
          <div>M <span class="search_think">T H I N <span class="search_k">K</span></span> N <span class="search_design">I</span> T <span class="search_passion">N</span></div>
          <div>N V F B H K C <span class="search_design">G</span> L E</div>
          <div><span class="search_solution">S O L U T I O</span> <span class="search_design">N</span> B W</div>
        </div>
    </div>
</div>

<div class="landing_nav">
  <img src="./images/cmyk_landing_logo.png" alt="CMYK+WHITE" class="landing_logo">

  <ul class="landing_ul">
    <li>
      <a href="/about">
        Who We Are
      </a>
    </li>

    <hr>

    <li>
      <a href="/work">
        What We Do
      </a>
    </li>

    <hr>

    <li>
      <a href="https://www.designplusshop.com/">
        Design + Shop
      </a>
    </li>

    <hr>

    <li>
      <a href="/contact">
        Contact
      </a>
    </li>
  </ul>
<fooder></fooder>
</div>

