<navi></navi>
<div class="work-container">
	<div class="apa">
		<a href="/brand/apa">
			<img ng-src="{{'./images/work_imgs/apa/' + size + '/work_apa_1' + initial + '.png'}}" class="apa_1" alt="Apa Picture 1">
		</a>
		<!-- <img ng-src="./images/work_imgs/apa/{{size}}/work_apa_1.png" class="apa_1" alt="Apa Picture 1"> -->

		<div class="apa_left">
			<h4 class="brand_name">
				<a href="/brand/apa">Apa | <span class="more">more</span></a>
			</h4>
			<a href="/brand/apa">
				<img ng-src="{{'./images/work_imgs/apa/' + size + '/work_apa_2' + initial + '.png'}}" class="apa_2" alt="Apa Picture 2">
			</a>
		</div>
	</div>

	<div class="bobbi_brown">
		<a href="/brand/bobbi_brown">
			<img src="{{'./images/work_imgs/bobbi_brown/' + size + '/work_bb_1' + initial + '.png'}}" alt="">
		</a>

		<h4 class="brand_name">
			<a href="/brand/bobbi_brown">Bobbi Brown | <span class="more">more</span></a>
		</h4>
	</div>

	<div class="estee_lauder">
		<div class="el_1">
			<a href="/brand/estee_lauder">
				<img src="{{'./images/work_imgs/estee_lauder/' + size + '/work_el_1' + initial + '.png'}}" alt="">
			</a>
		</div>

		<h4 class="brand_name">
			<a href="/brand/estee_lauder">Est&eacute;e Lauder | <span class="more">more</span></a>
		</h4>
	
		<div class="el_2">
			<a href="/brand/estee_lauder">
				<img src="{{'./images/work_imgs/estee_lauder/' + size + '/work_el_2' + initial + '.png'}}" alt="">
			</a>
		</div>
		
	</div>
	
	<div class="flirt">
		<a href="/brand/flirt">
			<img src="{{'./images/work_imgs/flirt/' + size + '/work_flirt_1' + initial + '.png'}}" alt="" class="flirt_1">
		</a>

		<h4 class="brand_name">
			<a href="/brand/flirt">Flirt | <span class="more">more</span></a>
		</h4>
	</div>

	<div class="la_mer">
		<h4 class="brand_name">
			<a href="/brand/la_mer">La Mer | <span class="more">more</span></a>
		</h4>

		<a href="/brand/la_mer">
			<img src="{{'./images/work_imgs/la_mer/' + size + '/work_lm_1' + initial + '.png'}}" alt="">
		</a>
	</div>

	<div class="saturday_skin">
		<a href="/brand/saturday_skin">
			<img src="{{'./images/work_imgs/saturday_skin/' + size + '/work_ss_1' + initial + '.png'}}" alt="" class="ss_1">
		</a>

		<h4 class="brand_name">
			<a href="/brand/saturday_skin">Saturday Skin | <span class="more">more</span></a>
		</h4>
		<div class="ss_2">
			<a href="/brand/saturday_skin">
				<img src="{{'./images/work_imgs/saturday_skin/' + size + '/work_ss_2' + initial + '.png'}}" alt="" class="ss_2">
			</a>
		</div>
	</div>

	<div class="little_d">
		<h4 class="brand_name">
			<a href="/brand/little_d">Little D + Tiny E | <span class="more">more</span></a>
		</h4>
		
		<a href="/brand/little_d">
			<img src="{{'./images/work_imgs/little_d/' + size + '/work_ldte_1' + initial + '.png'}}" alt="" class="ld_1">
		</a>
		<div class="ld_2">
			<a href="/brand/little_d">
				<img src="{{'./images/work_imgs/little_d/' + size + '/work_ldte_2' + initial + '.png'}}" alt="" >
			</a>
		</div>
	</div>
</div>
<footer></footer>
