<navi></navi>
<div class="work-container">
	<div class="apa">
		<img src="./images/work_apa_1.png" class="apa_1" alt="Apa Picture 1">

		<div class="apa_left">
			<h4 class="brand_name">
				Apa | <span class="more">more</span>
			</h4>

			<img src="./images/work_apa_2.png" class="apa_2" alt="Apa Picture 2">
		</div>
	</div>

	<div class="bobbi_brown">
		<img src="./images/work_bb_1.png" alt="">

		<h4 class="brand_name">
			Bobbi Brown | <span class="more">more</span>
		</h4>
	</div>

	<div class="estee_lauder">
		<img src="./images/work_el_1.png" alt="">

		<h4 class="brand_name">
			Estee Lauder | <span class="more">more</span>
		</h4>

		<img src="./images/work_el_2.png" alt="">
	</div>

	<div class="flirt">
		<img src="./images/work_flirt_1.png" alt="">

		<h4 class="brand_name">
			Flirt | <span class="more">more</span>
		</h4>
	</div>

	<div class="la_mer">
		<h4 class="brand_name">
			La Mer | <span class="more">more</span>
		</h4>

		<img src="./images/work_lm_1.png" alt="">
	</div>

	<div class="saturday_skin">
		<img src="./images/work_ss_1.png" alt="">

		<h4 class="brand_name">
			Saturday Skin | <span class="more">more</span>
		</h4>

		<img src="./images/work_ss_2.png" alt="">
	</div>

	<div class="little_d">
		<h4 class="brand_name">
			Little D + Tiny E | <span class="more">more</span>
		</h4>

		<img src="./images/work_ldte_1.png" alt="">

		<img src="./images/work_ldte_2.png" alt="">
	</div>
</div>
<fooder></fooder>
