<navi></navi>
<div class="work-container">
	<div class="apa">
		<img ng-src="{{'./images/work_imgs/apa/' + size + '/work_apa_1' + initial + '.png'}}" class="apa_1" alt="Apa Picture 1">
		<!-- <img ng-src="./images/work_imgs/apa/{{size}}/work_apa_1.png" class="apa_1" alt="Apa Picture 1"> -->

		<div class="apa_left">
			<h4 class="brand_name">
				<a href="/brand/apa">Apa | <span class="more">more</span></a>
			</h4>

			<img ng-src="{{'./images/work_imgs/apa/' + size + '/work_apa_2' + initial + '.png'}}" class="apa_2" alt="Apa Picture 2">
		</div>
	</div>

	<div class="bobbi_brown">
		<img src="{{'./images/work_imgs/bobbi_brown/' + size + '/work_bb_1' + initial + '.png'}}" alt="">

		<h4 class="brand_name">
			<a href="/brand/bobbi_brown">Bobbi Brown | <span class="more">more</span></a>
		</h4>
	</div>

	<div class="estee_lauder">
		<img src="{{'./images/work_imgs/estee_lauder/' + size + '/work_el_1' + initial + '.png'}}" alt="" class="el_1">

		<h4 class="brand_name">
			<a href="/brand/estee_lauder">Estee Lauder | <span class="more">more</span></a>
		</h4>

		<img src="{{'./images/work_imgs/estee_lauder/' + size + '/work_el_2' + initial + '.png'}}" alt="" class="el_2">
	</div>

	<div class="flirt">
		<img src="{{'./images/work_imgs/flirt/' + size + '/work_flirt_1' + initial + '.png'}}" alt="" class="flirt_1">

		<h4 class="brand_name">
			<a href="/brand/flirt">Flirt | <span class="more">more</span></a>
		</h4>
	</div>

	<div class="la_mer">
		<h4 class="brand_name">
			<a href="/brand/la_mer">La Mer | <span class="more">more</span></a>
		</h4>

		<img src="{{'./images/work_imgs/la_mer/' + size + '/work_lm_1' + initial + '.png'}}" alt="">
	</div>

	<div class="saturday_skin">
		<img src="{{'./images/work_imgs/saturday_skin/' + size + '/work_ss_1' + initial + '.png'}}" alt="" class="ss_1">

		<h4 class="brand_name">
			<a href="/brand/saturday_skin">Saturday Skin | <span class="more">more</span></a>
		</h4>

		<img src="{{'./images/work_imgs/saturday_skin/' + size + '/work_ss_2' + initial + '.png'}}" alt="" class="ss_2">
	</div>

	<div class="little_d">
		<h4 class="brand_name">
			<a href="/brand/little_d">Little D + Tiny E | <span class="more">more</span></a>
		</h4>

		<img src="{{'./images/work_imgs/little_d/' + size + '/work_ldte_1' + initial + '.png'}}" alt="" class="ld_1">

		<img src="{{'./images/work_imgs/little_d/' + size + '/work_ldte_2' + initial + '.png'}}" alt="" class="ld_2">
	</div>
</div>
<footer></footer>
