/* Landing */
.container {
  width: 100%;
  height: 1400px;
  background-color: black;



  .search_n_find {
    width: 100vw;
    // height: 100vh;
    // padding: 5px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;

    // pre {
    .pre {
      width: 93vw;
      margin: 0 auto;
      font-size: 6.47vw;
      // font-family: 'Source Code Pro', monospace;
      font-family: 'Roboto Mono', monospace;
      font-weight: 100;
      // font-weight: 200;
      // white-space: pre-line;

      div {
        letter-spacing: 1vw;
        margin-bottom: 1vw;
      }


    }
  }

  .scroll {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    p {
      color: #FFFFFF;
      text-transform: uppercase;
      margin: 0;
      font-size: 3.3vw;
    }

    img {
      width: 4.6vw;
      height: 2.5vw;
      margin: 3vw auto;
      display: block;
    }
  }
}

.landing_nav {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 2;
  position: relative;

  .landing_logo {
    width: 37vw;
    margin: 0 auto;
    display: block;
    padding: 5.3vh 0;
  }

  .landing_ul {
    background-color: #000000;
    height: 79vh;
    text-align: center;

    li {
      padding: 6.5vh 0;

      a {
        color: #FFFFFF;
        font-size: 9vw;
        font-family: "Didact Gothic", "Roboto Sans", sans-serif;
        text-transform: uppercase;
      }
    }

    hr {
      width: 90vw;
      margin: 0 auto;
      border-top: none;
    }
  }
}

.grey {
  color: #202020;
}

.light-grey {
  color: #3E3D3E
}

.white {
  color: #FFFFFF;
  transition: color 2s;
}
