/* Landing */
.container {
  width: 100%;
  height: 6000px;
  background-color: black;

  .search_n_find {
    width: 100vw;
    height: 100vh;
    // padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pre {
      font-size: 8.47vw;
      font-family: Consolas;
      color: #FFFFFF;
      white-space: pre-line;
    }
  }
}
