@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif; }

h1 {
  font-size: 4em;
  margin: 0.25em; }

h2 {
  font-size: 3em;
  margin: 0.25em; }

h3 {
  font-size: 2em;
  margin: 0.25em; }

h4 {
  font-size: 1.5em;
  margin: 0.25em; }

h5, h6, p {
  font-size: 1em;
  margin: 0.25em; }

img {
  width: 100%; }

section {
  max-width: 960px;
  margin: auto; }

a {
  text-decoration: none;
  color: #222; }

#who-we-are-main {
  background-color: black;
  color: white;
  padding-top: 15px;
  height: 100vh; }

.welcome-text {
  width: 95%;
  /*max-width: 720px;*/
  margin: 0 auto; }

#white {
  color: white; }

#rotate {
  height: 125px; }

#blurb {
  text-transform: uppercase; }

.bold {
  font-size: 35px;
  font-weight: 700;
  vertical-align: bottom; }

#more {
  text-align: center;
  font-size: 8px; }

#scroll {
  font-size: 8px;
  text-align: center; }

/* nav -- feel free to remove / modify styling for navigation */
nav {
  text-align: center;
  background-color: white; }

nav > ul {
  padding: 0px;
  margin: 0px; }

#nav > li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 1; }

#logo-container {
  width: 100%;
  text-align: center;
  background-color: black;
  height: 23vw;
  padding: 7.9vw; }

/* Landing */
/* Career */
p.job-title {
  font-size: 24px;
  padding: 20px 0px; }

/* Landing */
.container {
  width: 100%;
  /*height: 1700px;*/
  height: 5700px;
  background-color: black; }
  .container .search_n_find {
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF; }
    .container .search_n_find .pre {
      margin: 0 auto;
      font-family: 'Roboto Mono', monospace;
      font-weight: 100; }
  .container .scroll {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%); }
    .container .scroll p {
      color: #FFFFFF;
      text-transform: uppercase; }
    .container .scroll img {
      display: block; }

.landing_nav {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 2;
  position: relative; }
  .landing_nav .landing_logo {
    margin: 0 auto;
    display: block; }
  .landing_nav .landing_ul {
    background-color: #000000;
    height: 79vh;
    text-align: center; }
    .landing_nav .landing_ul li a {
      color: #FFFFFF;
      font-family: "Didact Gothic", "Roboto Sans", sans-serif;
      text-transform: uppercase; }
    .landing_nav .landing_ul hr {
      width: 90vw;
      margin: 0 auto;
      border-top: none; }

.grey {
  color: #202020; }

.light-grey {
  color: #3E3D3E; }

.white {
  color: #FFFFFF;
  transition: color 2s; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container .pre {
    width: 90%;
    font-size: 6.09vw; }
    .container .pre .mobile {
      display: inline; }
    .container .pre .tablet {
      display: none; }
    .container .pre div {
      letter-spacing: 1vw;
      margin-bottom: 1vw; }
  .container .scroll p {
    font-size: 3.3vw; }
  .container .scroll img {
    width: 4.6vw;
    margin: 1vw auto 3vw; }

  .landing_nav .landing_logo {
    width: 37vw;
    padding: 5.3vh 0; }
  .landing_nav .landing_ul li {
    padding: 6.5vh 0; }
    .landing_nav .landing_ul li a {
      font-size: 9vw; } }
@media screen and (min-width: 768px) {
  .container .pre {
    width: 95%;
    font-size: 4.17vw; }
    .container .pre .mobile {
      display: none; }
    .container .pre .tablet {
      display: inline; }
      .container .pre .tablet.marginator {
        display: block;
        margin-bottom: 1vw; }
    .container .pre div {
      letter-spacing: 1vw;
      margin-bottom: 1vw; }
  .container .scroll p {
    font-size: 1.8vw; }
  .container .scroll img {
    width: 2.6vw;
    margin: 1vw auto 3vw; }

  .landing_nav .landing_logo {
    width: 37vw;
    padding: 4.3vh 0; }
  .landing_nav .landing_ul li {
    padding: 4.5vh 0; }
    .landing_nav .landing_ul li a {
      font-size: 7vw; } }
/*------------ Who We Are (/About) -------------- */
.about-container {
  width: 100%;
  height: 100%;
  font-family: "Didact Gothic", sans-serif; }

#who-we-are-container {
  position: relative;
  margin: 0 auto;
  padding-top: 15px;
  background-color: black; }

#hello-image {
  width: 100vw;
  height: 115%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999; }

.wk-content {
  width: 95vw;
  margin: 0 auto;
  font-size: 6.47vw;
  color: #FFFFFF;
  font-family: 'Didact Gothic'; }

#who-we-are {
  font-size: 7.5vw; 
  margin-bottom: 0px;}

#rotate {
  height: 125px;
  height: 46.5vw; }

#blurb {
  text-transform: uppercase;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 100;
  line-height: 1.2;
  font-size: 7.5vw; }

.bolds {
  font-size: 14.5vw;
  vertical-align: bottom;
  line-height: 1.0;
  font-weight: 100;
  font-family: 'Playfair Display', serif; }

.top-padding {
  padding-top: 40px; }

#bottom {
  padding-top: 10px; }

#more {
  text-align: center;
  font-size: 8px;
  padding-bottom: 10px; }

#scroll {
  font-size: 8px;
  text-align: center; }

.flex-container {
  display: flex; }

#footer > li {
  list-style: none;
  display: inline-block;
  padding: 9px 0;
  align-items: center; }

#copyright {
  font-size: 8px !important; }

#copyright > a {
  display: inline-block;
  margin-top: 11px; }

#career-link {
  font-size: 15px !important; }

#career-link > a {
  display: inline-block;
  margin-top: 7px; }

.fb-icon, .ig-icon {
  text-align: center; }

.fb-icon > img {
  width: 38px; }

.ig-icon > img {
  width: 25px;
  margin-top: 2px; }

.nav-link {
  color: #9B9B9B; }

.selected {
  color: black !important; }

ul#footer {
  margin-bottom: 8px; } 

#mobile-team {
  display: none; }

#desktop-team {
  display: block; }

.name-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around; }

.name-container > div > p {
  text-transform: uppercase;
  padding: 5px 10px; }

.active {
  font-weight: 900;
  color: red; }

.mobile-display {
  display: none; }

.desktop-display {
  font-size: 35px;
  text-transform: uppercase; }

@media screen and (max-width: 768px) {
  #mobile-team {
    display: block; }

  #desktop-team {
    display: none; } }
.work-container {
  margin-top: 6.7vw; }
  .work-container h4 {
    color: #000000;
    font-family: "Didact Gothic", sans-serif;
    font-size: 4.9vw;
    text-transform: uppercase;
    margin: 0; }
    .work-container h4 a {
      font-weight: 100; }
    .work-container h4 .more {
      color: #9B9B9B;
      font-size: 3.5vw;
      text-transform: lowercase; }
  .work-container .apa,
  .work-container .bobbi_brown,
  .work-container .flirt,
  .work-container .la_mer,
  .work-container .little_d {
    width: 90.6vw;
    margin: 0 auto; }
  .work-container .bobbi_brown,
  .work-container .estee_lauder,
  .work-container .flirt,
  .work-container .la_mer,
  .work-container .saturday_skin,
  .work-container .little_d {
    margin-top: 17.5vw; }
  .work-container .apa {
    width: 90.6vw;
    margin: 0 auto;
    font-size: 0;
    display: grid;
    grid-template-columns: 42.9vw 39.8vw;
    grid-column-gap: 7vw; }
    .work-container .apa .apa_1 {
      width: 42.9vw;
      grid-column: 1 / 2; }
    .work-container .apa .apa_left {
      grid-column: 2 / 3; }
      .work-container .apa .apa_left .brand_name {
        margin-top: 22.3vw; }
      .work-container .apa .apa_left .apa_2 {
        width: 36.4vw;
        margin: 11vw 0 0 4.3vw; }
  .work-container .bobbi_brown .brand_name {
    margin-top: 5vw; }
  .work-container .estee_lauder {
    display: grid;
    grid-template-columns: 13.5vw 34.3vw 8vw 5.5vw 33.9vw;
    grid-template-rows: 15.1vw 20.4vw 5vw 5.6vw auto; }
    .work-container .estee_lauder .el_1 {
      grid-column: 1 / 3;
      grid-row: 1 / 3; }
    .work-container .estee_lauder .brand_name {
      grid-column: 2 / 4;
      grid-row: 4 / 5; }
    .work-container .estee_lauder .el_2 {
      grid-column: 5 / 6;
      grid-row: 2 / 6; }
  .work-container .flirt {
    display: grid;
    grid-template-columns: 61vw 5.3vw auto;
    align-items: center; }
    .work-container .flirt .flirt_1 {
      grid-column: 1 / 2; }
    .work-container .flirt .brand_name {
      grid-column: 3 / 4; }
  .work-container .la_mer {
    display: grid;
    grid-template-columns: auto 53vw 8.4vw;
    align-items: center; }
  .work-container .saturday_skin {
    display: grid;
    grid-template-columns: 26vw 7.4vw 10vw 34.3vw 17.4vw;
    grid-template-rows: 13.7vw 5.6vw 12.6vw 6.8vw 25.5vw; }
    .work-container .saturday_skin .ss_1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .work-container .saturday_skin .brand_name {
      grid-column: 3 / 5;
      grid-row: 3 / 4; }
    .work-container .saturday_skin .ss_2 {
      grid-column: 4 / 6;
      grid-row: 5 / 7; }
  .work-container .little_d {
    display: grid;
    grid-template-columns: 49.5vw 32.5vw auto;
    align-items: center; }
    .work-container .little_d .brand_name {
      grid-column: 1 / 2; }
    .work-container .little_d .ld_1 {
      grid-column: 2 / 3; }
    .work-container .little_d .ld_2 {
      grid-column: 1 / 4;
      margin-top: 5vw; }

#brand-logo-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF; }
  #brand-logo-container #logo {
    color: #000000;
    font-size: 24px; }

.brand_page_logo {
  width: 37vw; }

.down_arrow,
.up_arrow {
  width: 4.6vw;
  height: 2.5vw; }

.down_arrow {
  display: block;
  margin: 2px auto; }

.brand_dd {
  padding: 0 4.6vw;
  list-style: none;
  display: none;
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 6.25vw; }
  .brand_dd .brand_names {
    padding: 3.5vw 0;
    border-bottom: 1px solid #979797;
    text-transform: uppercase;
    text-align: left; }
    .brand_dd .brand_names a {
      width: 100%;
      display: block; }
  .brand_dd .up_arrow {
    text-align: center; }

.brand_container {
  margin: 8.9vw 0 21vw; }
  .brand_container .brand_name {
    font-size: 3.9vw;
    text-align: center;
    margin-bottom: 0; }
  .brand_container .brand_logo {
    display: block;
    margin: 0 auto; }
    .brand_container .brand_logo.apa {
      width: 30.6vw; }
    .brand_container .brand_logo.bobbi_brown {
      width: 42.9vw; }
    .brand_container .brand_logo.estee_lauder {
      width: 44vw; }
    .brand_container .brand_logo.flirt {
      width: 19.3vw; }
    .brand_container .brand_logo.la_mer {
      width: 30.1vw; }
    .brand_container .brand_logo.saturday_skin {
      width: 20.6vw; }
    .brand_container .brand_logo.little_d {
      width: 27.9vw; }
  .brand_container .brand_desc {
    font-size: 3.1vw;
    text-align: center;
    margin: 2.6vw auto 0;
    width: 90.6vw; }
  .brand_container .sections {
    margin-top: 8.4vw; }
    .brand_container .sections #carousel {
      font-size: 0; }
      .brand_container .sections #carousel .items {
        height: 56.25vw; }
        .brand_container .sections #carousel .items .item {
          display: none; }
          .brand_container .sections #carousel .items .item.active {
            display: block; }
      .brand_container .sections #carousel .indicators {
        margin: 4vw 0; }
        .brand_container .sections #carousel .indicators ul {
          text-align: right;
          margin-right: 3vw;
          font-size: 0; }
          .brand_container .sections #carousel .indicators ul li {
            display: inline-block;
            margin: 1vw; }
            .brand_container .sections #carousel .indicators ul li .indicator {
              width: 5.46vw;
              height: 0.7vw;
              background-color: #D2D0D2; }
              .brand_container .sections #carousel .indicators ul li .indicator.active {
                background-color: #000000; }
    .brand_container .sections .section_name,
    .brand_container .sections .section_desc {
      width: 90.6vw;
      margin: 0 auto; }
    .brand_container .sections .section_name {
      font-size: 3.75vw;
      margin-bottom: 0.9vw; }
    .brand_container .sections .section_desc {
      font-size: 2.5vw; }

/* Career */
.job-container {
  width: 95%;
  margin: 0 auto; }

p.job-title {
  font-size: 5vw !important;
  padding: 10px 0px; }

div.job-requirements > p {
  font-size: 12px !important; }

hr#job-divider {
  margin-top: 20px; }

@media screen and (max-width: 325px) {
  #nav > li {
    font-size: 11px; } }
/* Contact */
.contact-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px; }

.contact-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; }

.contact-info > div {
  flex: 1; }

.menu-font {
  font-size: 12px; }

.contact-title {
  margin: 0 0 20px 0;
  border-left: 1px solid black;
  padding-left: 5px; }

.contact-form > input {
  font-size: 12px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray; }

.contact-form:after {
  content: "";
  display: table;
  clear: both; }

textarea {
  font-size: 12px;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  height: 100px; }

#submit-btn {
  float: right;
  width: 100px;
  font-size: 18px !important;
  text-transform: uppercase !important;
  color: gray !important;
  border: none;
  padding: 10px 0;
  background-color: white;
  text-align: right;
  padding-right: 3px; }

.map {
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 20px; }

#map {
  height: 300px;
  width: 100%;
  background-color: grey; }

#modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 244, 244, 0.8);
  position: absolute;
  top: 0;
  left: 0; }

#thank-you {
  background-color: white;
  color: black;
  margin-top: 50%;
  padding: 20px; }

#clear-this:after {
  content: "";
  display: table;
  clear: both; }

#close {
  float: right;
  margin: 20px;
  font-size: 30px; }

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

@media screen and (max-width: 330px) {
  div.right {
    text-align: center; } }
@media screen and (min-width: 768px) {
  .contact-container {
    display: flex;
    justify-content: space-around; }

  #contact-desktop-left, #contact-desktop-right {
    flex: 1;
    padding: 10px; }

  textarea {
    height: 170px; }

  .map, #map {
    height: 405px; }

  .map {
    margin-top: 0px; } }


@media screen and (max-width: 767px) {
  .brand_container .brand_name { font-size: 23px; }
  .brand_container .brand_desc {
    font-size: 17px;
    line-height: 1.3; }
  
  .brand_container .sections .section_name {font-size: 17px; }
  .brand_container .sections .section_desc {font-size: 15px; } }

@media screen and (max-width: 600px) {
  .mobile-display {
    display: block;
  }

  .desktop-display {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
