@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif; }

h1 {
  font-size: 4em;
  margin: 0.25em; }

h2 {
  font-size: 3em;
  margin: 0.25em; }

h3 {
  font-size: 2em;
  margin: 0.25em; }

h4 {
  font-size: 1.5em;
  margin: 0.25em; }

h5, h6, p {
  font-size: 1em;
  margin: 0.25em; }

img {
  width: 100%; }

section {
  /*min-height: 100vh;*/
  max-width: 960px;
  margin: auto; }

a {
  text-decoration: none;
  color: #222; }

#who-we-are-main {
  background-color: black;
  color: white;
  padding-top: 15px;
  height: 100vh; }

.welcome-text {
  width: 95%;
  max-width: 720px;
  margin: 0 auto; }

#white {
  color: white; }

#rotate {
  height: 125px; }

#blurb {
  text-transform: uppercase; }

.bold {
  font-size: 35px;
  font-weight: 700;
  vertical-align: bottom; }

#more {
  text-align: center;
  font-size: 8px; }

#scroll {
  font-size: 8px;
  text-align: center; }

/* nav -- feel free to remove / modify styling for navigation */
nav {
  text-align: center;
  background-color: white; }

nav > ul {
  padding: 0px;
  margin: 0px; }

#nav > li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px; }

#logo-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: black; }

#logo {
  color: white;
  font-size: 24px; }

/* Landing */
/* footer */
#footer > li {
  display: inline-block;
  font-size: 10px; }

/* Career */
p.job-title {
  font-size: 24px;
  padding: 20px 0px; }

/* Landing */
.container {
  width: 100%;
  height: 1400px;
  background-color: black; }
  .container .search_n_find {
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .container .search_n_find .pre {
      width: 75vw;
      margin: 0 auto;
      font-size: 6.47vw;
      font-family: 'Roboto Mono', monospace;
      font-weight: 100;
      color: #FFFFFF; }

.landing_nav {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 2;
  position: relative; }
  .landing_nav .landing_logo {
    width: 37vw;
    margin: 0 auto;
    display: block;
    padding: 5.3vh 0; }
  .landing_nav .landing_ul {
    background-color: #000000;
    height: 79vh;
    text-align: center; }
    .landing_nav .landing_ul li {
      padding: 6.5vh 0; }
      .landing_nav .landing_ul li a {
        color: #FFFFFF;
        font-size: 9vw;
        font-family: "Didact Gothic", "Roboto Sans", sans-serif;
        text-transform: uppercase; }
    .landing_nav .landing_ul hr {
      width: 90vw;
      margin: 0 auto;
      border-top: none; }

.work-container h4 {
  color: #000000;
  font-family: "Didact Gothic", sans-serif;
  font-size: 4.9vw;
  text-transform: uppercase;
  margin: 0; }
  .work-container h4 .more {
    color: #9B9B9B;
    font-size: 3.5vw;
    text-transform: lowercase; }
.work-container .apa,
.work-container .bobbi_brown,
.work-container .flirt,
.work-container .la_mer,
.work-container .little_d {
  width: 90.6vw;
  margin: 0 auto; }
.work-container .bobbi_brown,
.work-container .estee_lauder,
.work-container .flirt,
.work-container .la_mer,
.work-container .saturday_skin,
.work-container .little_d {
  margin-top: 17.5vw; }
.work-container .apa {
  width: 90.6vw;
  margin: 0 auto;
  font-size: 0;
  display: grid;
  grid-template-columns: 42.9vw 39.8vw;
  grid-column-gap: 7vw; }
  .work-container .apa .apa_1 {
    width: 42.9vw;
    grid-column: 1 / 2; }
  .work-container .apa .apa_left {
    grid-column: 2 / 3; }
    .work-container .apa .apa_left .brand_name {
      margin-top: 22.3vw; }
    .work-container .apa .apa_left .apa_2 {
      width: 36.4vw;
      margin: 11vw 0 0 4.3vw; }
.work-container .bobbi_brown .brand_name {
  margin-top: 5vw; }
.work-container .estee_lauder {
  display: grid;
  grid-template-columns: 22.5vw 25.3vw 8vw 5.5vw 33.9vw;
  grid-template-rows: 15.1vw 20.4vw 5vw 5.6vw auto; }
  .work-container .estee_lauder .el_1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  .work-container .estee_lauder .brand_name {
    grid-column: 2 / 4;
    grid-row: 4 / 5; }
  .work-container .estee_lauder .el_2 {
    grid-column: 5 / 6;
    grid-row: 2 / 6; }
.work-container .flirt {
  display: grid;
  grid-template-columns: 61vw 5.3vw auto;
  align-items: center; }
  .work-container .flirt .flirt_1 {
    grid-column: 1 / 2; }
  .work-container .flirt .brand_name {
    grid-column: 3 / 4; }
.work-container .la_mer {
  display: grid;
  grid-template-columns: auto 53vw 8.4vw;
  align-items: center; }
.work-container .saturday_skin {
  display: grid;
  grid-template-columns: 26vw 7.4vw 10vw 25.3vw 26.4vw;
  grid-template-rows: 13.7vw 5.6vw 12.6vw 6.8vw 25.5vw; }
  .work-container .saturday_skin .ss_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .work-container .saturday_skin .brand_name {
    grid-column: 3 / 5;
    grid-row: 3 / 4; }
  .work-container .saturday_skin .ss_2 {
    grid-column: 4 / 6;
    grid-row: 5 / 7; }
.work-container .little_d {
  display: grid;
  grid-template-columns: 49.5vw 32.5vw auto;
  align-items: center; }
  .work-container .little_d .brand_name {
    grid-column: 1 / 2; }
  .work-container .little_d .ld_1 {
    grid-column: 2 / 3; }
  .work-container .little_d .ld_2 {
    grid-column: 1 / 4;
  }

}


/* Who We Are */
.about-container {
  width: 100%;
  height: 100vh;
  background-color: black; }

#who-we-are-main {
  width: 100vw;
  margin: 0 auto;
  padding-top: 15px;
  top: 50%;
  left: 50%;
  background-color: black; }

.wk-content {
  width: 95vw;
  margin: 0 auto;
  font-size: 6.47vw;
  color: #FFFFFF; }

#who-we-are {
  font-size: 7.5vw; }

#rotate {
  height: 125px;
  height: 46.5vw; }

#blurb {
  text-transform: uppercase;
  font-size: 7.5vw; }

.bold {
  font-size: 14.5vw;
  font-weight: 700;
  vertical-align: bottom;
  line-height: 1.1; }

.top-padding {
  padding-top: 40px; }

#bottom {
  padding-top: 10px; }

#more {
  text-align: center;
  font-size: 8px; }

#scroll {
  font-size: 8px;
  text-align: center; }
  
.contact-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.contact-info > div {
  flex: 1;
}

.menu-font {
  font-size: 12px;
}

.contact-title {
  margin: 0 0 15px 0;
  border-left: 1px solid black;
  padding-left: 5px;
}

.contact-form > input {
  font-size: 12px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray;
}

.contact-form:after {
  content: "";
  display: table;
  clear: both;
}

textarea {
  font-size: 12px;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

#submit-btn {
  float: right;
  width: 100px;
  font-size: 18px !important;
  text-transform: uppercase !important;
  color:gray !important;
  border: none;
  padding: 10px 0;
  background-color: white;
}

.map {
  width: 100%;
  height: 300px;
  background-color: rgb(244,244,244);
  text-align: center;
}

#map {
  height: 300px;
  width: 100%;
  background-color: grey;
}

#modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(244,244,244,0.8);
  position: absolute;
  top: 0;
  left: 0;
}

#thank-you {
  background-color: white;
  color: black;
  margin-top: 50%;
  padding: 20px;
}

#clear-this:after {
  content: "";
  display: table;
  clear: both;
}

#close {
  float: right;
  margin: 20px;
  font-size: 30px;
}
@media screen and (max-width: 330px) {
  #nav > li {
    padding-right: 4px;
    font-size: 11px;
  }
}


/*# sourceMappingURL=style.css.map */
