.work-container {
  width: 90.6vw;
  margin: 0 auto;

  h4 {
    color: #000000;
    font-family: "Didact Gothic", sans-serif;
    font-size: 3.9vw;
    text-transform: uppercase;

    .more {
      color: #9B9B9B;
      font-size: 2.5vw;
      text-transform: lowercase;
    }
  }

  .apa {
    .apa_1,
    .apa_left {
      display: inline-block;
    }

    .apa_1 {
      width: 42.9vw;
    }

    .apa_2 {
      width: 36.4vw;
    }
  }
}
